name: GenerateSnake

on:
  workflow_dispatch:
  schedule:
    - cron: "0 1 * * *" # 01:00 UTC (= 10:00 JST)

permissions:
  contents: write

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Prepare folders
        run: mkdir -p img

      - name: Generate Snake
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: |
            img/snake.svg
            img/snake-dark.svg?palette=github-dark

      - name: Commit & Push
        run: |
            git config user.name "github-actions[bot]"
            git config user.email "github-actions[bot]@users.noreply.github.com"
            git add -A
            git commit -m ":rocket: Update snake" || echo "No changes"
            git push
